html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

table {
    width: 100%;
    /*border: 1px solid black;*/
    background-color: lightskyblue;
}

table th {
    border: 1px solid black;
}
.editRow {
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.editCol {
    border: none;
    width: 90px;
}

#loading {
    width: 100%;
    height: 100%;
}