html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: url("./img/theaterLights.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}


h1 {
    padding: 25px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px grey;
}


.main {
    background: url("./img/theaterLights.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.loading-container {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.seats {
    background-image: url("./img/seats.png");
    bottom: 0;
    width: 100%;
    height: 30%;
    position: fixed;
    background-attachment: scroll;
    z-index: -1;

}

.JasonTable, #form {
    z-index: 10;

}

#form {
    text-align: center;
    color: white;
}


table {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 1), 0 6px 20px 0 rgba(255, 255, 255, 1);
}

table th {
    border: 1px solid black;
}
.editRow {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.editCol {
    border: none;
    width: 90px;
}

#loading {
    width: 100%;
    height: 100%;
}

.inputsForAdd {
    display: block;
    margin: auto;
}

.displayNone {
    display: none;
}
